<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Visma.Expense-20170213114328.mdf;Initial Catalog=aspnet-Visma.Expense-20170213114328;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="data source=lt-practice;initial catalog=DevDb;persist security info=True;user id=expense;password=expense;multipleactiveresultsets=True;Connection Timeout=300;App=AutomatedTests" />
  </connectionStrings>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>